#installPopup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    background: white;
    color: black;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    z-index: 9999;
}
#installPopup button {
    margin: 10px;
    padding: 7px 7px;
    background-color: #007bff;
    border: none;
    color: white;
    cursor: pointer;
}
#installPopup button.cancel {
    background-color: #dc3545;
}